/NetBeansProjects/Unid5Code1/build/
/NetBeansProjects/Unid5Code1b/nbproject/private/
/NetBeansProjects/Unid5Code1b/build/
/NetBeansProjects/Unid5Code1c/nbproject/private/
/NetBeansProjects/Unid5Code1c/build/
/NetBeansProjects/Unid5Code1d/nbproject/private/
/NetBeansProjects/Unid5Code1d/build/
/NetBeansProjects/Unid5Code1e/nbproject/private/
/NetBeansProjects/Unid5Code1e/build/
/IMC/nbproject/private/
/IMC/build/